

/* the digits of pi in the background */
#pi {
  font-family: monospace;
  position: fixed;
  z-index: -10000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: "Ubuntu Mono", monospace;
  font-size: 3.14em;
  word-wrap: break-word;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.1);
}

